body {
    position: relative;
    font-family: monospace;
    background: #e5e9ea;
}

.page-wrapper {
    width: 80%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1400px) {
    .page-wrapper {
        width: 100%;
    }
}


table.dataTable a {
    color: #144b86;
}
table.dataTable tbody tr.even {
    background: #f2f5f7;
}
table.dataTable tbody tr:hover {
    background: #e9f4fb;
}
table.dataTable tbody tr.even:hover {
    background: #eef6fb;
}
table.dataTable tbody td {
    vertical-align: bottom;
}

.timeline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 1rem;
    background: #dceaf0;
    margin-top: .2rem;
    min-width: 365px;
}

.timeline .segment {
    flex-grow: 1;
    position: relative;
}

.timeline .segment .value {
    background: #5e768f;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.status-active {
    color: #050;
}

.status-deleted {
    color: #555;
}

.status-exception {
    color: #500;
}

.small-link {
    font-size: .6rem;
    font-weight: bold;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1000;
}

.nav-item {
    margin-right: 1rem;
}