body {
    position: relative;
    font-family: monospace;
    background: #e5e9ea;
}

.page-wrapper {
    width: 70%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1300px) {
    .page-wrapper {
        width: 100%;
    }
}


table.dataTable a {
    color: #144b86;
}
table.dataTable tbody tr:hover {
    background: #f1f6f9;
}

.timeline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 1rem;
    background: #dceaf0;
    margin-top: .2rem;
}

.timeline .segment {
    flex-grow: 1;
    position: relative;
}

.timeline .segment .value {
    background: #5e768f;
    width: 100%;
    position: absolute;
    bottom: 0;
}